* {
    margin: 0;
    padding: 0;
}

:root {
    font-family: 'Outfit', serif;
    font-weight: 400;
    font-style: normal;
    --primary-font-color: black;
    --primary-background-color: rgb(228, 228, 200);
    --secondary-background-color: rgb(55, 5, 5);
}

header {
    padding: 1rem;
    background-color: var(--primary-background-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

header img {
    width: 300px;
}

nav {
    background-color: var(--primary-background-color);
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    align-items: center;
    width: 100%;
    z-index: 999;
}

nav a {
    color: var(--primary-font-color);
    display: none;
    text-decoration: none;
    margin: 0.5rem 0;
    padding: 0.5rem;
    font-size: 1.25rem;
}


nav a:hover {
    transform: scale(1.03);
}

.open a {
    display: block;
}

#menu {
    font-size: 2rem;
    border: 0;
    background: none;
    color: black;
    position: absolute;
    top: 2rem;
    right: 1rem;
    z-index: 1000;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "X";
}

.active {
    background-color: var(--secondary-background-color);
    color: white;
    width: 100%;
    text-align: center;
}

main {
    padding: 1rem;
    margin: 0 auto;
    width: 80%;
}

h1 {
    text-align: center;
}

section, h2, p {
    padding: 1rem;
}

section {
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 2rem auto 2rem;
}

figure {
    display: flex;
    justify-content: center;
}

figure img {
    width: 80%;
    min-width: 300px;
    max-width: 600px;
}

footer {
    background-color: var(--secondary-background-color);
    color: white;
    text-align: center;
    padding: 1rem;
}

footer p {
    padding: 0.5rem;
}

@media only screen and (min-width: 770px){
    
    header img {
        width: 400px;
    }
    
    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        position: static;
    }

    nav a {
        display: block;
        margin-right: 1rem;
        padding: 0.7rem;
        text-decoration: none;
        color: var(--primary-font-color);
        transition: transform 0.1s ease-in-out;
        font-size: 1rem;
        text-align: center;
    }

    #menu {
        display: none;
    }

    .active {
        background-color: var(--secondary-background-color);
        color: white;
        width: auto;
        border-radius: 20px;
    }

    #motto {
        opacity: 0;
        animation: fadeIn 1.5s ease-in-out forwards;
    }
    
    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
}