/* Mobile screen view */
* {
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: normal;
    --primary-color: rgb(1, 40, 95);
    --primary-font-color: white;
    --secondary-color: rgb(244, 244, 216);
    --secondary-font-color: black;
    margin: 0 auto;
    box-sizing: border-box;
}

header {
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    position: relative;
    margin-bottom: 1rem;
}

header div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

h1 {
    color: var(--primary-font-color);
}

nav a {
    color: var(--primary-font-color);
    display: none;
    text-decoration: none;
    margin: 0.5rem 0;
    padding: 0.5rem;
    font-size: 1.25rem;
}

.active {
    color: yellow;
}

nav a:hover {
    text-decoration: underline 0.5px;
}

.open a {
    display: block;
}

nav {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    width: 100%;
}

#menu {
    font-size: 2rem;
    border: 0;
    background: none;
    color: white;
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    z-index: 10;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "X";
}

main {
    background-color: var(--secondary-color);
}

h2 {
    background-color: var(--primary-color);
    color: var(--primary-font-color);
    text-align: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

section {
    /* margin-top: 1rem;
    margin-bottom: 1rem; */
}

figure {
    display: grid;
    justify-content: center;
}

figcaption {
    font-style: italic;
}


.filter {
    display: flex;

}

.filter span {
    background-color: var(--secondary-font-color);
    padding: 0.5rem 2rem;
}

.filter span a {
    color: var(--primary-font-color);
    text-decoration: none;
}

.courses {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
}

.courses span {
    background-color: var(--primary-color);
    color: var(--primary-font-color);
    text-decoration: none;
    padding: 1rem;
    margin-top: 1rem;
    width: 90%;
    text-align: center;
}

footer {
    background-color: var(--primary-color);
    color: var(--primary-font-color);
    text-align: center;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.flag {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    gap: 1rem;
}

#lastModified {
    color: yellow;
}





/* Larger screen view */
@media only screen and (min-width: 700px) {

    header {
        flex-direction: column;
        padding: 0;
    }

    header div {
        margin: 1rem;
    }

    nav {
        display: flex;
        flex-direction: row;
        background-color: black;
        justify-content: space-evenly;
        position: static;
    }

    nav a {
        display: block;
        text-decoration: none;
        color: white;
        font-size: 1rem;
    }

    nav a:hover {
        text-decoration: underline 0.5px;
    }

    #menu {
        display: none;
    }

    main {
        display: grid;
        grid-template: auto auto / 6fr 4fr;
        gap: 0.5rem;
        margin: 0 auto;
        max-width: 90vw;
        margin-bottom: 1rem;
    }

    section {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .work {
        grid-column: 1/2;
        border: 1px solid black;
        border-radius: 5px;
        width: 100%;
    }

    .location {
        grid-column: 2/3;
        border: 1px solid black;
        border-radius: 5px;
        width: 100%;
    }

    .certificate {
        grid-column: 1/3;
        border: 1px solid black;
        border-radius: 5px;
        width: 100%;
    }

    h2 {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

}